<launch>
  <!-- TMR2021 - JESTON -->
  <env name="ROS_MASTER_URI" value="http://192.168.31.3/" />
  <env name="ROS_IP" value="192.168.31.2" />
  
  <node name="AudioCapturer" pkg="devices" type="AudioCapturer.py" respawn="true" output="screen"/>
  <node name="InputAudio" pkg="devices" type="InputAudio" respawn="true" output="screen"/>
  <node name="ImageCapturer" pkg="devices" type="ImageCapture.py" respawn="true">
    <param name="RATE" value="15" />
    <param name="CAMERAID" value="0" />
  </node>
  <node name="Say" pkg="devices" type="say.py" respawn="true" output="screen" />
  
  <arg name="enable_depth"        default="false"/>
  <arg name="color_fps"           default="15"/>
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="enable_depth"              value="$(arg enable_depth)"/>
    <arg name="color_fps"                value="$(arg color_fps)"/>
  </include>    
  <node name="republish_intel_rgb" type="republish" pkg="image_transport" args="raw in:=/color/image_raw compressed out:=/camaras/1/" respawn="true"/>
</launch>
