<launch>
  <!-- TMR2021 - DEVICES -->
  <!-- TMR2021 - SPEECH -->
  <node name="AudioCapturer" pkg="devices" type="AudioCapturer.py" respawn="true" output="screen"/>
  <node name="UsefulAudio" pkg="devices" type="UsefulAudio.py" respawn="true" output="screen"/>
  <node name="Say" pkg="devices" type="say.py" respawn="true" output="screen" />

  <!-- TMR2021 - VISION -->
  <node name="CameraIndex" pkg="devices" type="CameraIndex.py"/>
  <node name="ImageCapturer0" pkg="devices" type="ImageCapture.py" output="screen">
    <param name="RATE" value="15" />
    <param name="CAMERAID" value="0" />
  </node>
  <node name="ImageCapturer1" pkg="devices" type="ImageCapture.py" output="screen">
    <param name="RATE" value="15" />
    <param name="CAMERAID" value="1" />
  </node>
  <node name="ImageCapturer2" pkg="devices" type="ImageCapture.py" output="screen">
    <param name="RATE" value="15" />
    <param name="CAMERAID" value="2" />
  </node>
  <node name="ImageCapturer3" pkg="devices" type="ImageCapture.py" output="screen">
    <param name="RATE" value="15" />
    <param name="CAMERAID" value="3" />
  </node>
</launch>
