#Folders and files to ignore

### ROS ###
/catkin_home/devel/
/catkin_home/devel_isolated/
/catkin_home/logs/
/catkin_home/build/
/catkin_home/build_isolated/
/catkin_home/bin/
/catkin_home/install/
/catkin_home/.catkin_tools/
/catkin_home/.catkin_workspace
/catkin_home/src/ExternalPackages/
/catkin_home/src/.rosinstall.bak

### DeepSpeech && Speech API ###
/catkin_home/src/action_selectors/scripts/DeepSpeech/decoders/swig/build
/catkin_home/src/action_selectors/scripts/DeepSpeech/decoders/swig/dist
/catkin_home/src/action_selectors/scripts/DeepSpeech/decoders/swig/kenlm
/catkin_home/src/action_selectors/scripts/DeepSpeech/decoders/swig/*.egg-info
/catkin_home/src/action_selectors/scripts/DeepSpeech/decoders/swig/openfst*
/catkin_home/src/action_selectors/scripts/DeepSpeech/decoders/swig/swig_decoders.py
/catkin_home/src/action_selectors/scripts/DeepSpeech/decoders/swig/decoders_wrap.cxx
/catkin_home/src/action_selectors/scripts/DeepSpeech/data/librispeech/manifest.dev-clean
/catkin_home/src/action_selectors/scripts/DeepSpeech/data/librispeech/manifest.test-clean

# End 
