#Folders and files to ignore

### ROS ###
/catkin_home/devel/
/catkin_home/logs/
/catkin_home/build/
/catkin_home/bin/
/catkin_home/install/
/catkin_home/.catkin_tools/
/catkin_home/.catkin_workspace

### DeepSpeech && Speech API ###
/catkin_home/src/action_selectors/scripts/DeepSpeech/data/librispeech/manifest.dev-clean
/catkin_home/src/action_selectors/scripts/DeepSpeech/data/librispeech/manifest.test-clean
/catkin_home/src/action_selectors/scripts/DeepSpeech/models/baidu_en8k/mean_std.npz
/catkin_home/src/action_selectors/scripts/DeepSpeech/models/baidu_en8k/params.tar.gz
/catkin_home/src/action_selectors/scripts/DeepSpeech/models/baidu_en8k/vocab.txt
/catkin_home/src/action_selectors/scripts/DeepSpeech/models/lm/lm.binary
/catkin_home/src/action_selectors/src/.catkin_workspace
GLOBAL.txt

### Others ###
/rasa/venv/
/object_detection/venv/
/object_detection/models/
*.DS_Store
*.pyc
.vscode/

# End 
