[submodule "catkin_home/src/navigation/hector_slam_roborregos"]
	path = catkin_home/src/navigation/hector_slam_roborregos
	url = https://github.com/tu-darmstadt-ros-pkg/hector_slam.git
[submodule "catkin_home/src/robot_pose_publisher"]
	path = catkin_home/src/robot_pose_publisher
	url = https://github.com/GT-RAIL/robot_pose_publisher.git
[submodule "catkin_home/src/yocs_velocity_smoother"]
	path = catkin_home/src/yocs_velocity_smoother
	url = https://github.com/nlimpert/yocs_velocity_smoother.git
[submodule "dashgob1_noetic"]
	path = dashgob1_noetic
	url = https://github.com/Josecisneros001/dashgob1_noetic.git
[submodule "catkin_home/zed-ros-wrapper"]
	path = catkin_home/zed-ros-wrapper
	url = https://github.com/stereolabs/zed-ros-wrapper.git
