#Folders and files to ignore
__ignore__/

### ROS ###
/catkin_home/devel/
/catkin_home/devel_isolated/
/catkin_home/logs/
/catkin_home/build/
/catkin_home/build_isolated/
/catkin_home/bin/
/catkin_home/install/
/catkin_home/.catkin_tools/
/catkin_home/.catkin_workspace
/catkin_home/src/ExternalPackages/
/catkin_home/src/.rosinstall.bak

### DeepSpeech && Speech API ###
/catkin_home/src/action_selectors/scripts/DeepSpeech/decoders/swig/build
/catkin_home/src/action_selectors/scripts/DeepSpeech/decoders/swig/dist
/catkin_home/src/action_selectors/scripts/DeepSpeech/decoders/swig/kenlm
/catkin_home/src/action_selectors/scripts/DeepSpeech/decoders/swig/*.egg-info
/catkin_home/src/action_selectors/scripts/DeepSpeech/decoders/swig/openfst*
/catkin_home/src/action_selectors/scripts/DeepSpeech/decoders/swig/swig_decoders.py
/catkin_home/src/action_selectors/scripts/DeepSpeech/decoders/swig/decoders_wrap.cxx
/catkin_home/src/action_selectors/scripts/DeepSpeech/data/librispeech/manifest.dev-clean
/catkin_home/src/action_selectors/scripts/DeepSpeech/data/librispeech/manifest.test-clean
/catkin_home/src/action_selectors/scripts/DeepSpeech/models/baidu_en8k/mean_std.npz
/catkin_home/src/action_selectors/scripts/DeepSpeech/models/baidu_en8k/params.pdparams
/catkin_home/src/action_selectors/scripts/DeepSpeech/models/baidu_en8k/params.tar.gz
/catkin_home/src/action_selectors/scripts/DeepSpeech/models/baidu_en8k/README.md
/catkin_home/src/action_selectors/scripts/DeepSpeech/models/baidu_en8k/vocab.txt
/catkin_home/src/action_selectors/scripts/DeepSpeech/models/lm/lm.binary
/catkin_home/src/action_selectors/data/AzureSTTAPIKey.txt

### BASE CONTROL ###
base_control/test
base_control/serialplotter
base_control/testPID
base_control/lib/ros_lib
base_control/links.txt
base_control/oldCode.txt
wrokspace.code-workspace

### OBJECT DETECTION ###
/object_detection/venv/
/object_detection/models/model_tf2
/object_detection/models/dependencies/TensorFlow
/object_detection/models/dependencies/coco
/object_detection/images/train
__ignore__/*
catkin_home/src/object_detector/models
catkin_home/src/object_detector/resources

### CONVERSATION ###
catkin_home/src/action_selectors/scripts/FaceDetection/haarcascade_frontalface_default.xml
/rasa/venv/
/rasa/models/
/rasa/results/
out.log


### Others ###
*.DS_Store
*.pyc
.vscode/
venv/
*.swp

__ignore__/*
# End 
