#Folders and files to ignore

### ROS ###
/catkin_home/devel/
/catkin_home/logs/
/catkin_home/build/
/catkin_home/bin/
/catkin_home/install/

### DeepSpeech ###
/catkin_home/src/action_selectors/scripts/DeepSpeech/data/librispeech/manifest.dev-clean
/catkin_home/src/action_selectors/scripts/DeepSpeech/data/librispeech/manifest.test-clean
/catkin_home/src/action_selectors/scripts/DeepSpeech/models/baidu_en8k/mean_std.npz
/catkin_home/src/action_selectors/scripts/DeepSpeech/models/baidu_en8k/params.tar.gz
/catkin_home/src/action_selectors/scripts/DeepSpeech/models/baidu_en8k/vocab.txt
/catkin_home/src/action_selectors/scripts/DeepSpeech/models/lm/lm.binary

### BASE CONTROL ###
base_control/test
wrokspace.code-workspace

### Others ###
/rasa/venv/
/object_detection/venv/
*.DS_Store
*.vscode

# End 
