<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="dashgo">
 
  <!-- load gripper -->
  <xacro:include filename="$(find robot_description)/urdf/gripper/gripperSF.urdf.xacro" />
  <xacro:load_gripperSF attach_to="" xyz="0 0 0" rpy="0 0 0" />

</robot>