<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="robot_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.166537387283527 -0.343295416941398 0.487663590094886"
        rpy="0 0 0" />
      <mass
        value="9.93476204559626" />
      <inertia
        ixx="0.329743643350845"
        ixy="0.000839316407568314"
        ixz="-0.0024568733164321"
        iyy="0.329832460799335"
        iyz="-0.000262107838308245"
        izz="0.0629069592496537" />
    </inertial>
    <visual>
      <origin
        xyz="0.2 0.15 0.09"
        rpy="1.5708 1.5708 3.14159" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/base_all.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="laser_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry> <box size="0.08 0.08 0.1"/></geometry>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
  </link>
  <joint name="laser_joint" type="fixed">
    <origin xyz="0.19 0.01 0.20" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="laser_link"/>
  </joint>
  <link name="laser">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry> <box size="0.1 0.04 0.2"/></geometry>
      <material name="lidar"><color rgba="255 0 0 1"/></material>
    </visual>
  </link>
  <joint name="lidar_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 3.14159"/>
    <parent link="laser_link"/>
    <child link="laser"/>
  </joint>
</robot>