<!--
Launch file that configures the RealSense camera and launches
the object detection node using it.

This effectively launches the obj detection node configured
to use the RS camera and run the segmentation algorithm.

TODO: Maybe is desired to use the RS as the camera, but 
without capturing depth, calling segmentation, etc.
-->
<launch>
  <include file="$(find action_selectors)/launch/rs_camera.launch" />

  <!--TODO(dc): Add the actual flag to set to use the rs camera
  here and in the ObjectDetector.py-->
  <node 
    name="ObjectDetector"
    pkg="action_selectors"
    type="ObjectDetector.py"
    args=""
    required="true"
    output="screen" />
</launch>
