<launch>
  <param name="/use_sim_time" value="false" />
  <node name="dashgo_driver" pkg="dashgo_driver" type="dashgo_driver.py" output="screen" respawn="true">
    <rosparam file="$(find dashgo_driver)/config/my_dashgo_params.yaml" command="load" />
  </node>

  <arg name="node_name"             value="velocity_smoother"/>
  <arg name="nodelet_manager_name"  value="nodelet_manager"/>
  <arg name="config_file"           value="$(find dashgo_driver)/config/yocs_velocity_smoother.yaml"/>
  <arg name="raw_cmd_vel_topic"     value="cmd_vel"/>
  <arg name="smooth_cmd_vel_topic"  value="smoother_cmd_vel"/>
  <arg name="robot_cmd_vel_topic"   value="robot_cmd_vel"/>
  <arg name="odom_topic"            value="odom"/>
  
  <!-- nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" respawn="true"/>
  
  <!-- velocity smoother -->
  <include file="$(find yocs_velocity_smoother)/launch/velocity_smoother.launch">
    <arg name="node_name"             value="$(arg node_name)"/>
    <arg name="nodelet_manager_name"  value="$(arg nodelet_manager_name)"/>
    <arg name="config_file"           value="$(arg config_file)"/>
    <arg name="raw_cmd_vel_topic"     value="$(arg raw_cmd_vel_topic)"/>
    <arg name="smooth_cmd_vel_topic"  value="$(arg smooth_cmd_vel_topic)"/>
    <arg name="robot_cmd_vel_topic"   value="$(arg robot_cmd_vel_topic)"/>
    <arg name="odom_topic"            value="$(arg odom_topic)"/>
  </include>
  <node name="dashgo_action" pkg="dashgo_tools" type="check_action.py" output="screen" respawn="true"/>
 
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_sonar0"
   args="-0.091 -0.11  0.15 3.1416 0.0  0.0 /base_footprint /sonar0 40" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_sonar1"
   args="0.265 -0.128 0.15 -0.70 0.0 0.0 /base_footprint /sonar1 40" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_sonar2"
   args="0.27 0.0  0.15 0.0 0.0 0.0 /base_footprint /sonar2 40" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_sonar3"
   args="0.265 0.128 0.15 0.70 0.0 0.0 /base_footprint /sonar3 40" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_sonar4"
   args="-0.091 0.11  0.15 3.1416 0.0  0.0 /base_footprint /sonar4 40" />  
</launch>
