<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="initial_joint_positions" doc="Initial joint configuration of the robot"
       default=" -J BASE_PINZA_joint 0 -J Brazo_2_Pinza 0 -J Chasis_Elevador 0 -J Elevador_Brazo_1 0 -J Elevador_Brazo_2 0 -J Pinza_Garra_D 0 -J Pinza_Garra_I 0 -J neck_joint 0"/>

  <!-- startup simulated world -->
  <arg name="world_name" default="$(find simulation)/worlds/manipulation.world"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="true"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
  </include>

  <!-- send robot urdf to param server -->
  <param name="robot_description" command="xacro  '$(find robot_description)/urdf/robot.urdf.xacro'" />

  <!-- unpause only after loading robot model -->
  <arg name="unpause" value="$(eval '' if arg('paused') else '-unpause')" />
  <!-- push robot_description to factory and spawn robot in gazebo. -->
  <arg name="x_pos" default="-0.01"/>
  <arg name="y_pos" default="-0.98"/>
  <arg name="z_pos" default="0.1"/>
  <arg name="roll_pos" default="0.00"/>
  <arg name="pitch_pos" default="0.00"/>
  <arg name="yaw_pos" default="1.57"/>
  <arg name="world_pose" value="-x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg roll_pos) -P $(arg pitch_pos) -Y $(arg yaw_pos)" />
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot $(arg unpause) $(arg world_pose) $(arg initial_joint_positions)"
    respawn="false" output="screen" />

  <!-- Load joint controller parameters for Gazebo -->
  <rosparam file="$(find robot_moveit_config)/config/gazebo_controllers.yaml" />
  <!-- Spawn Gazebo ROS controllers -->
  <node name="gazebo_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller" />
  <!-- Load ROS controllers -->
  <include file="$(dirname)/ros_controllers.launch"/>

</launch>
