<launch>
    <!-- ObjectDetection -->
    <arg name="SOURCE" default="/camaras/0" />
    <arg name="ROS_INPUT" default="True" />
    <arg name="USE_ACTIVE_FLAG" default="False" />
    <arg name="VERBOSE" default="True" />
    <node name="detection2d" pkg="object_detector" type="detection2d.py" respawn="true" output="screen">
        <param name="SOURCE" value="$(arg SOURCE)" />
        <param name="ROS_INPUT" value="$(arg ROS_INPUT)" />
        <param name="USE_ACTIVE_FLAG" value="$(arg USE_ACTIVE_FLAG)" />
        <param name="VERBOSE" value="$(arg VERBOSE)" />
    </node>
</launch>