<launch>
  <arg name="world_name" default="worlds/empty.world"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.1"/>
  <arg name="roll_pos" default="0.0"/>
  <arg name="pitch_pos" default="0.0"/>
  <arg name="yaw_pos" default="0.0"/>
  <param
    name="robot_description"
    command="$(find xacro)/xacro $(find robot_description)/urdf/robot.urdf.xacro" />
  <node
    pkg="gazebo_ros"
    type="spawn_model"
    name="spawn_urdf"
    args="-urdf -model robot_description -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg roll_pos) -P $(arg pitch_pos) -Y $(arg yaw_pos) -param robot_description -unpause"
  />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
</launch>