<launch>
  <include file="$(find dashgo_driver)/launch/driver.launch"/>
  <include file="$(find ydlidar)/launch/ydlidar1_up.launch"/>
  <include file="$(find dashgo_description)/launch/dashgo_description.launch"/>
  <include file="$(find dashgo_nav)/launch/include/odom/gmapping_base.launch"/>
  <include file="$(find dashgo_nav)/launch/include/odom/teb_move_base.launch"/>
  <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" />
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
      <rosparam command="load" file="$(find dashgo_tools)/conf/box_filter.yaml" />
  </node>
  <node name="robot_data" pkg="dashgo_tools" type="robot_data.py" respawn="true" />
  <node name="get_scan_data" pkg="dashgo_tools" type="get_scan_data.py" respawn="true" />
</launch>
