<launch>
    <master auto="start"/>
    <!-- Run the map server --> 
    <include file="$(find robot_description)/launch/display.launch" />
    <node
        pkg="base_control"
        name="encoders_simulation"
        type="encoders.py"
    />
    <node
        pkg="base_control"
        name="base_odom"
        type="base_odom"
    />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find base_control)/rviz/base_control.rviz" />
 </launch>