<launch>
  <!-- Launch your nodes here -->

  <!-- Publish static transform from map to testframe -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher"
    args="x y z yaw pitch roll map testframe" />

  <!-- Explanation of arguments:
    - x, y, z: translation values in meters
    - yaw, pitch, roll: rotation values in radians
    - map: parent frame
    - testframe: child frame
   -->

</launch>
