<?xml version="1.0"?>
<!--Modifications to pkg: $ sudo nano "$(rospack find rplidar_ros)/launch/rplidar.launch"-->
<launch>
  <arg name="is_sim"  default="True"/>

  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen"  unless="$(arg is_sim)">
    <param name="serial_port"         type="string" value="/dev/ttyUSB1"/>
    <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
    <!--param name="serial_baudrate"  type="int"    value="256000"--><!--A3 -->
    <param name="frame_id"            type="string" value="base_scan"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
  </node>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter" output="screen" >
    <rosparam command="load" file="$(find nav_main)/filters/laser_config.yaml" />
  </node>
</launch>