<launch>
    <arg name="set_base_frame" default="base_footprint"/>
    <arg name="set_odom_frame" default="odom"/>
    <arg name="set_map_frame"  default="map"/>
    <arg name="is_sim"  default="True"/>

    <include file="$(find robot_description)/launch/lidar.launch" unless="$(arg is_sim)" />

    <include file="$(find robot_description)/launch/display.launch" />

    <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_description)/rviz/mapping.rviz" />

    <!-- Gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="robot_slam_gmapping" output="screen">
        <param name="scan" value="scan"/>
        <param name="base_frame" value="$(arg set_base_frame)"/>
        <param name="odom_frame" value="$(arg set_odom_frame)"/>
        <param name="map_frame"  value="$(arg set_map_frame)"/>
        <remap from="scan" to="scan_filtered"/>
        <rosparam command="load" file="$(find nav_main)/config/gmapping_params.yaml" />
    </node>
</launch>