<launch>
   <arg name="base_local_planner" default="dwa" />
   
   <group if="$(eval arg('base_local_planner') == 'dwa')">
      <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
         <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
         <param name="controller_frequency" value="10.0" />
         <rosparam file="$(find nav_main)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
         <rosparam file="$(find nav_main)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
         <rosparam file="$(find nav_main)/config/local_costmap_params.yaml" command="load" />
         <rosparam file="$(find nav_main)/config/global_costmap_params.yaml" command="load" /> 
         <rosparam file="$(find nav_main)/config/dwa_local_planner_params.yaml" command="load" />
      </node>
  </group>

  <group if="$(eval arg('base_local_planner') == 'teb')">
      <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
         <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
         <param name="controller_frequency" value="10.0" />
         <rosparam file="$(find nav_main)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
         <rosparam file="$(find nav_main)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
         <rosparam file="$(find nav_main)/config/local_costmap_params.yaml" command="load" />
         <rosparam file="$(find nav_main)/config/global_costmap_params.yaml" command="load" />
         <rosparam file="$(find nav_main)/config/teb_local_planner_params.yaml" command="load" />
      </node>
  </group>

</launch>