<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find nav_main)/maps/map.yaml"/>
  <arg name="is_sim" default="True" />

  <include file="$(find robot_description)/launch/display.launch" />

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find nav_main)/launch/amcl.launch">
    <arg name="scan_topic" value="scan_filtered"/>
  </include>

  <!-- MoveBase -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find nav_main)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find nav_main)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find nav_main)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav_main)/config/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find nav_main)/config/dwa_local_planner_params.yaml" command="load" />
  </node>

  <!-- Laser -->
  <include file="$(find nav_main)/launch/lidar.launch" unless="$(arg is_sim)" />
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter" output="screen" >
    <rosparam command="load" file="$(find nav_main)/filters/laser_config.yaml" />
  </node>
</launch>