<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find nav_main)/maps/map.yaml"/>

  <include file="$(find robot_description)/launch/display.launch" />

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- World Pose Server -->
  <!-- <node pkg="nav_main" name="world_pose_server" type="world_pose_server.py" /> -->

  <!-- AMCL -->
  <include file="$(find nav_main)/launch/amcl.launch">
    <arg name="scan_topic" value="scan_filtered"/>
  </include>

  <!-- move_base -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_description)/rviz/mapping.rviz" />

</launch>