<launch>
  <arg name="world_name" value="$(find simulation)/worlds/manipulation.world"/>
  <arg name="x_pos" default="-0.01"/>
  <arg name="y_pos" default="-0.98"/>
  <arg name="z_pos" default="0.1"/>
  <arg name="roll_pos" default="0.00"/>
  <arg name="pitch_pos" default="0.00"/>
  <arg name="yaw_pos" default="1.57"/>

  <include file="$(find robot_description)/launch/gazebo.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="x_pos" value="$(arg x_pos)"/>
    <arg name="y_pos" value="$(arg y_pos)"/>
    <arg name="z_pos" value="$(arg z_pos)"/>
    <arg name="roll_pos" value="$(arg roll_pos)" />
    <arg name="pitch_pos" value="$(arg pitch_pos)" />
    <arg name="yaw_pos" value="$(arg yaw_pos)" />
  </include>
</launch>
