<launch>
    <param name="robot_description" command="cat $(find r2d2)/model.xml" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="base2laser"         pkg="tf"                    type="static_transform_publisher"  args="0 0 0.6 0 0 0 1 /axis /laser_link 50" />
    <!-- <node name="reading2laser"      pkg="tf"                    type="static_transform_publisher"  args="0 0 0 0 0 0 1 /laser_link /scan 50" /> -->
    <node name="state_publisher"    pkg="r2d2"                  type="state_publisher" />
    <node name="serial_node"        pkg="rosserial_python"      type="serial_node.py">
    <param name="port"              type="string"               value="/dev/ttyACM0"/>
    <param name="baud"              type="int"                  value="57600"/>
    </node>
    <node type="rviz" name="rviz" pkg="rviz"/>
</launch>